<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Hello world</title>
</head>
<body>
  <h1>登録画面</h1>
  <form th:method="post" th:action="@{/user}">
    <label for="userName">名前</label>
    <input type="text" name="userName">
    <label for="password">パスワード</label>
    <input type="text" name="password">
    <label for="address">メールアドレス</label>
    <input type="text" name="address">
    <label for="age">年齢</label>
    <input type="text" name="age">
    <input type="text" name="department" value="department_id: A0001, department_name: アプリケーション">
    <input type="text" name="createdAt" value="2010-10-01 00:00:00.0">
    <input type="text" name="updateAt" value="2010-10-01 00:00:00.0">
    <input type="submit" value="登録">
  </form>
</body>
</html>