<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Hello world</title>
</head>
<body>
  <h1>一覧画面</h1>
  <a href="#" th:href="@{/user/create}">新規登録</a>
  
  <!-- 検索フォーム -->
  <form th:action="@{/user}" th:object="${errors}" method="get">
  </form>
  
  <!-- 一覧テーブル -->
  <table th:object="${users}">
    <thead>
      <tr>
        <th>ID</th>
        <th>名前</th>
        <th>パスワード</th>
        <th>メールアドレス</th>
        <th>年齢</th>
        <th>部署</th>
        <th>ポイント</th>
        <th>createdAt</th>
        <th>updateAt</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="item : ${users}">
        <td th:text="${item.id}"></td>
        <td th:text="${item.userName}"></td>
        <td th:text="${item.password}"></td>
        <td th:text="${item.address}"></td>
        <td th:text="${item.age}"></td>
        <td th:text="${item.departmentId}"></td>
        <td th:text="${item.point}"></td>
        <td th:text="${item.createdAt}"></td>
        <td th:text="${item.updateAt}"></td>
        <td>
          <a href="#" th:href="@{'/user/' + ${item.id}}">詳細</a>
        </td>
      </tr>
    </tbody>
  </table>
</body>
</html>