<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Hello world</title>
</head>
<body>
  <h1>登録画面</h1>
  <form th:method="post" th:action="@{/users}">
    <label for="userName">名前</label>
    <input type="text" name="userName" value="name99">
    <label for="password">パスワード</label>
    <input type="text" name="password" value="password">
    <label for="address">メールアドレス</label>
    <input type="text" name="address" value="address">
    <label for="age">年齢</label>
    <input type="text" name="age" value="30">
    
    <label for="department_id">部署ID</label>
    <select name="department_id">
      <option
        th:each="item : ${departments}"
        th:value="${item.departmentId}"
        th:text="${item.departmentName}">
      </option>
    </select>
    
    <label for="point">ポイント</label>
    <input type="text" name="point" value="0">
    <label for="createdAt">createdAt</label>
    <input type="date" name="createdAt" value="2010-10-01">
    <label for="updatedAt">updatedAt</label>
    <input type="date" name="updatedAt" value="2010-10-01">
    <input type="submit" value="登録">
  </form>
</body>
</html>