<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{partials/head}"></head>

<body>
  <div th:insert="~{partials/header}"></div>

  <div class="container">
    <h1>登録画面</h1>
    <form th:method="post" th:action="@{/users}" th:object="${userEntity}">
      <div class="row">
        <div class="col-12 mb-3">
          <label for="userName" class="form-label">
			名前
		    <span class="badge bg-danger">必須</span>
		  </label>
          <input type="text" th:field="*{userName}" class="form-control mb-2">
          <span class="text-danger" th:errors="*{userName}"></span>
        </div>
        <div class="col-12 mb-3">
          <label for="password" class="form-label">
	        パスワード
	        <span class="badge bg-danger">必須</span>
		  </label>
          <input type="text" th:field="*{password}" class="form-control">
          <span class="text-danger" th:errors="*{password}"></span>
        </div>
        <div class="col-12 mb-3">
          <label for="address" class="form-label">メールアドレス</label>
          <input type="text" name="address" value="address" class="form-control">
        </div>
        <div class="col-12 mb-3">
          <label for="age" class="form-label">年齢</label>
          <input type="text" name="age" value="30" class="form-control">
        </div>
        <div class="col-12 mb-3">
          <label for="department_id" class="form-label">部署</label>
          <select name="departmentId" class="form-control">
            <option
              th:each="item : ${departments}"
              th:value="${item.departmentId}"
              th:text="${item.departmentName}">
            </option>
          </select>
        </div>
        <div class="col-12 mb-3">
          <label for="point" class="form-label">ポイント</label>
          <input type="text" name="point" value="0" class="form-control">
        </div>
        <div class="col-12 mb-3">
          <label for="createdAt" class="form-label">createdAt</label>
          <input type="date" name="createdAt" value="2010-10-01" class="form-control">
        </div>
        <div class="col-12 mb-5">
          <label for="updatedAt" class="form-label">updatedAt</label>
          <input type="date" name="updatedAt" value="2010-10-01" class="form-control">
        </div>
        <input type="submit" value="登録" class="btn btn-primary">
      </div>
    </form>
  </div>
</body>
</html>