<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{partials/head}"></div>

<body>
  <div th:insert="~{partials/header}"></div>
  
  <h1>詳細画面</h1>
  <form th:method="post" th:action="@{/users}">
    <div>
      <label>id</label>
      <input type="text" name="id" th:field="${users.id}">
    </div>
    <div>
      <label>名前</label>
      <input type="text" name="userName" th:field="${users.userName}">
    </div>
    <input type="submit" value="更新">
  </form>
</body>
</html>