<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Hello world</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <h1>一覧画面</h1>
  <a href="#" th:href="@{/users/create}">新規登録</a>
  
  <!-- 一覧テーブル -->
  <table th:object="${users}" class="table table-striped table-hover table-sm">
    <thead>
      <tr>
        <th>ID</th>
        <th>名前</th>
        <th>パスワード</th>
        <th>メールアドレス</th>
        <th>年齢</th>
        <th>部署名</th>
        <th>ポイント</th>
        <th>createdAt</th>
        <th>updatedAt</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="item : ${users}">
        <td th:text="${item.id}"></td>
        <td th:text="${item.userName}"></td>
        <td th:text="${item.password}"></td>
        <td th:text="${item.address}"></td>
        <td th:text="${item.age}"></td>
        <td th:text="${item.department.departmentName}"></td>
        <td th:text="${item.point}"></td>
        <td th:text="${item.createdAt}"></td>
        <td th:text="${item.updatedAt}"></td>
        <td>
          <a href="#" th:href="@{'/users/' + ${item.id}}">詳細</a>
        </td>
      </tr>
    </tbody>
  </table>
</body>
</html>