<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Hello world</title>
</head>
<body>
  <h1>一覧画面</h1>
  <a href="#" th:href="@{/departments/create}">新規登録</a>
  
  <!-- 一覧テーブル -->
  <table th:object="${departments}">
    <thead>
      <tr>
        <th>部署ID</th>
        <th>部署名</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="item : ${departments}">
        <td th:text="${item.departmentId}"></td>
        <td th:text="${item.departmentName}"></td>
      </tr>
    </tbody>
  </table>
</body>
</html>