<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{partials/head}"></head>

<body>
  <header th:insert="~{partials/header}"></header>

  <div class="container">
    <h1>従業員(詳細)</h1> 
    <form th:method="put" th:action="@{/employees/{id}(id=${employeeEntity.id}}" th:object="${employeeEntity}">
      <div class="row">
        <div class="col-12 mb-3">
          <label class="form-label">id</label>
          <input type="text" th:field="${employeeEntity.id}" class="form-control" readonly>
        </div>
        <div class="col-12 mb-3">
          <label class="form-label">名前</label>
          <input type="text" th:field="${employeeEntity.userName}" class="form-control">
          <span class="text-danger" th:errors="*{userName}"></span>
        </div>
        <div class="col-12 mb-3">
          <label class="form-label">パスワード</label>
          <input type="text" name="password" th:field="${employeeEntity.password}" class="form-control">
          <span class="text-danger" th:errors="*{password}"></span>
        </div>
        <div class="col-12 mb-3">
          <label class="form-label">メールアドレス</label>
          <input type="text" name="address" th:field="${employeeEntity.address}" class="form-control">
        </div>
        <div class="col-12 mb-3">
          <label class="form-label">年齢</label>
          <input type="text" name="age" th:field="${employeeEntity.age}" class="form-control">
        </div>
        <div class="col-12 mb-3">
          <label class="form-label">部署ID</label>
          <select name="departmentId" class="form-control" th:field="${employeeEntity.departmentId}">
            <option
              th:each="item : ${departments}"
              th:value="${item.departmentId}"
              th:text="${item.departmentName}">
            </option>
          </select>
        </div>
        <div class="col-12 mb-3">
          <label class="form-label">ポイント</label>
          <input type="text" name="point" th:field="${employeeEntity.point}" class="form-control">
        </div>
        <div class="col-12 mb-3">
          <label class="form-label">createdAt</label>
          <input type="text" name="createdAt" th:field="${employeeEntity.createdAt}" class="form-control">
        </div>
        <div class="col-12 mb-3">
          <label class="form-label">updatedAt</label>
          <input type="text" name="updatedAt" th:field="${employeeEntity.updatedAt}" class="form-control">
        </div>
        <input type="submit" value="更新" class="btn btn-primary">
      </div>
    </form>
  </div>
</body>
</html>